# Managed by Ansible
ALLOWED_HOSTS=netbox.s1.lan,127.0.0.1,localhost
DB_HOST=postgres
DB_NAME=netbox
DB_USER=netbox
REDIS_HOST=redis
REDIS_DATABASE=0
SECRET_KEY={{ netbox_secret_key }}
SUPERUSER_NAME=admin
SUPERUSER_EMAIL=admin@cia.lan
SUPERUSER_PASSWORD={{ netbox_admin_password }}
SUPERUSER_API_TOKEN={{ netbox_admin_token }}
SKIP_SUPERUSER=false

BASE_PATH=
TIME_ZONE=Europe/Paris
LOGIN_REQUIRED=True
METRICS_ENABLED=True
